@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --font-size: 0.8vw;
}

* {
  font-family: "Noto Sans";
  color: #e8e8e8;
}

body {
  background: #3c3636;
  margin: 0;
  padding: 0;
  background-image: none;
  background-size: cover;
  background-position: 25% 50%;
}

#colorOverlay {
  z-index: -89;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3c3636;
  opacity: 0.4;
  pointer-events: none;
}

#grainOverlay {
  z-index: -90;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat; 
  background-image: url(/assets/images/grain_texture.jpg);
  background-size: 120%;
  mix-blend-mode: multiply;
  opacity: 0.5;
  pointer-events: none;
}

#website-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#website-container > div {
  margin-left: 15px;
}

#contact {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0px;
}

#about {
  flex-grow: 1;
  width: 70%;
  max-width: 400px;
  font-size: 16px;
  font-weight: 600;
}
#drawing:hover {
  cursor: pointer;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Krona One";
  margin-bottom: 30px;
}

.project {
  font-family: "Krona One";
  font-size: calc(var(--font-size)*4);
  width: fit-content;
}
.project:before {
  content: '';
  font-family: "Source Sans 3", sans-serif;
  font-weight: 520;
  font-style: normal;
  opacity: 0;
}
.project:hover {
  cursor: pointer;
}
.project:hover:before {
  content: '↗ ';
  font-family: "Source Sans 3", sans-serif;
  font-weight: 520;
  font-style: normal;
  opacity: 1;
  transition: opacity 0.0s ease;
}


.modal {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  z-index:50;
  background-color: #3c3636;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0s 0.5s;
  display: none
}

.modal.active {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.modal.active:before { /* grain overlay (for modals) */
  content: '';
  z-index: -89;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat; 
  background-image: url(/assets/images/grain_texture.jpg);
  mix-blend-mode: multiply;
  opacity: 0.4;
  pointer-events: none;
}

body:has(.modal.active) {
  overflow: hidden;
}

.modalTitle {
  font-family: "Krona One";
  font-size: 22px;
  align-self: flex-start;
  margin: 15px;
}

.drawmodalImg {
  display: block;
  margin: auto auto 15px auto;
  width: 90%;
  max-width: 500px;
  object-fit: contain;
}

.sectionHeader {
  width: 100%;
  height: 5vw;
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 15px 0px 50px 0px;
  padding: 5px 0px 5px 15px;
  background-image: url(/assets/images/bush_viper_render.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
}

.textColorBurn {
  font-family: "Krona One";
  font-size: 22px;
  mix-blend-mode: color-burn;
}

.modalImg {
  display: block;
  object-fit: contain;
  width: 100%;
}

.renderImg {
  width: 100%;
  max-width: 1200px;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.space15px {
  height: 15px;
}

/* MOUSE CURSOR */
.custom-cursor {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  transition-property: transform, scale, opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  scale: 0.3;
  z-index: 900;
}
.custom-cursor--init {
  opacity: 1;
}
.custom-cursor--link {
  scale: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .project {
    font-size: 8vw;
  }
  .custom-cursor {
      display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .project {
    font-size: 5vw;
  }
  .custom-cursor {
      display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .project {
    font-size: 3vw;
  }
  #grainOverlay {
    background-size: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .custom-cursor {
      display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
